.btn-add{
    width: 70px;
}

.usericon{
    font-size: 20px;
}

.btn-modal{
    width: 100%;
}

.br-solid{
    border: 1px solid #adb5bd;
}

.w-60{
    width: 60px;
}

.f-black{
    color: black;
} 

.scroll-w{
    overflow: auto;
}